<div class="frame">
	<fieldset>
		<legend> Frost</legend>

		<div class="dsgallery">
			<a href="../album/frost/image-2.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-2.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/frost/image-3.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-3.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/frost/image-4.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-4.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
		<a href="../album/frost/image-5.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-5.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/frost/image-6.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-6.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/frost/image-7.jpg" rel="lightbox [frost]"title="testfoto voor de kleur"><img src="../album/frost/image-7.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
	</fieldset>
	<fieldset>
		<legend>Olan Joan</legend>

		<div class="dsgallery">
			<a href="../album/olan_joan/image-1.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-1.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-2.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-2.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-3.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-3.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-4.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-4.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
		<a href="../album/olan_joan/image-5.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-5.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-6.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-6.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-7.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-7.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-8.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-8.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-9.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-9.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/olan_joan/image-10.jpg" rel="lightbox [olan_joan]"title="testfoto voor de kleur"><img src="../album/olan_joan/image-10.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
	</fieldset>
	<fieldset>
		<legend>Star</legend>

		<div class="dsgallery">
			<a href="../album/star/image-2.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-2.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/star/image-3.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-3.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/star/image-4.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-4.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
		<a href="../album/star/image-5.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-5.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/star/image-6.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-6.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/star/image-7.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-7.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
		<div class="dsgallery">
			<a href="../album/star/image-8.jpg" rel="lightbox [star]"title="testfoto voor de kleur"><img src="../album/star/image-8.jpg" width="112.5" height="84.5" alt="" /></a>
		</div>
	</fieldset>
</div>