<div class="container">
<div class="top">
	<div class="top_header">
		<div class="top_pic"><img src="../images/top_left.gif" width="150" height="100" alt="" border="0" align="left"></div>
		<div class="top_pic"><img class="top_center" src="../images/epona_top.gif" width="200" height="100" alt="" border="0" align="middle"></div>
		<div class="top_pic"><img class="top_right" src="../images/top_right.gif" width="165" height="100" alt="" border="0" align="right"></div>
	</div>
	<div class="top_menu">
		<?php
			include ('../templates/top_dropdown_menu.html');
		?>
	</div>
</div>